* {
    box-sizing: border-box;
}

.row{
    width: 100%;
}

h1{
    text-align: center;
}

div{
    margin: auto;
    margin-top: 20px;
}

.parah1,.parah2,.parah3{
    position: relative;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border: 1px solid black;
}

.parah1{
    background-color: red;
}
.parah2{
    background-color: blue;
}
.parah3{
    background-color: green;
}
.Text1{
    position: relative;
    top:5px;
    padding: 10px;
}
.Text2{
    position: relative;
    top:5px;
    padding: 10px;
}
.Text3{
    position: relative;
    top:5px;
    padding: 10px;
}

.insideTitle{
    width: 100px;
    height: 20px;
    text-align: center;
    color: black;
    border: 1px solid black;
    position: absolute  ;
    top:-17px;
    right:0px;
}

.insideTitle1{
    background-color: yellow;
}

.insideTitle2{
    background-color: pink;
}

.insideTitle3{
    background-color: cyan;
}

@media (min-width: 992px){
    .col-lg{
        float: left;  
        width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md{
        float: left;
        width: 50%;
    }
    .col-md-3{
        float: left;
        width: 100%;
    }
    .parah3{
        width: 95%;
    }
}

